@model ICollection<PomodoroTimerDominio.Models.Aluno>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #337ab7; border-color: #2e6da4; color:#FFF">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">Pesquisar Aluno</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-7 input-group pull-right">
                        @Html.TextBox("Pesquisa", null, new { @class = "form-control",  placeholder = "Nome do Aluno, RM ou código" })
                        <button id="btnPesquisar" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
               <table class="table table-hover table-striped" style="width: 90%; margin: 0 auto;">
                   <thead>
                       <tr>
                           <th>Cod.</th>
                           <th>RM</th>
                           <th>Nome</th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach(var aluno in Model)
                       {
                           <tr>
                               <td class="AlunoID">@aluno.Id</td>
                               <td>@aluno.Rm</td>
                               <td>@aluno.Nome</td>
                           </tr>
                       }
                   </tbody>
               </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

