@model ICollection<PomodoroTimerDominio.Models.Aluno>

@{
    ViewBag.Title = "TempoDiario";
}


@section Estilo{
    <style>
        #loading {
            position: fixed;
            width: 200px;
            margin: 0 auto;
        }

        #line_top_x {
            width: 100%;
            height: 500px;
            margin-top:20px;
        }

        #btnSelecionar{
            margin-top:10px;
        }
        table tbody tr:hover{
            cursor:pointer;
        }
    </style>
}


<div class="container">

    <h3 style="margin-bottom: 25px; margin-top: 45px; margin-left: -15px;">Selecione um Aluno</h3>

    <div class="row">
        <div class="col-lg-12 input-group">
            @Html.TextBox("AlunoID", null, new { @class = "form-control" ,disabled = "disabled", placeholder = "Cód. Aluno"})
            <button id="btnPesquisar" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button style="margin-left: -12px;" id="btnSelecionar" class="btn btn-primary">Selecionar</button>
        </div>
    </div>

    <div id="line_top_x"></div>

    <img id="loading" class="img-responsive" src="@Url.Content("~/Content/images/loading.gif")" alt="loading gif" />

</div>

@Html.Partial("_modalPesquisarAluno")

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var chart;
        //carregar scripts primeiro
        google.charts.load('current', { 'packages': ['line'] });
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(loadChart);


        function requisitarDados(alunoID) {
            $("#line_top_x").fadeTo(500, 0, function () {
                $("#loading").fadeIn(500);

                $.ajax({
                    url: "http://localhost:39324/Graficos/GetMediaMensalAluno",
                    type: "GET",
                    data: { "AlunoID": alunoID },
                    success: function (data) {
                        var diaHoje = new Date().getDate();
                        var array = [];
                        for (var i = 1; i <= diaHoje; i++) {
                            var minAluno = 0;
                            var minMedia = 0;

                            for (var x = 0; x < data.listaAluno.length; x++) {
                                if (i == data.listaAluno[x].DiaEstudado) {
                                    minAluno = data.listaAluno[x].Minutos
                                    break;
                                }
                            }
                            for (var x = 0; x < data.listaMedias.length; x++) {
                                if (i == data.listaMedias[x].DiaEstudado) {
                                    minMedia = data.listaMedias[x].Minutos
                                    break;
                                }
                            }

                            array.push([i, minAluno, minMedia]);
                        }

                        $("#loading").fadeOut(500, function () {
                            $("#line_top_x").fadeTo(500, 1);
                            reDrawChart(array);
                        })
                    },
                    error: function (error) {
                        alert("Erro!");
                    }
                });
            });
        }

        function loadChart() {

            chart = new google.charts.Line(document.getElementById('line_top_x'));

        }

        function reDrawChart(rows) {

            var data = new google.visualization.DataTable();
            data.addColumn('number', 'Dias');
            data.addColumn('number', 'Minutos diários estudados pelo aluno');
            data.addColumn('number', 'Média Aritmética de minutos diários estudados dentre todos os alunos');

            data.addRows(rows);

            var options = {
                chart: {
                    title: 'Minutos estudados pelo Aluno por dia durante esse mês',
                    subtitle: 'Em minutos'
                },
                width: '100%',
                height: 500,
                axes: {
                    x: {
                        0: { side: 'top' }
                    }
                },

            };

            chart.draw(data, options);

        }

        function preparaGifLoading() {

            var loading = document.querySelector('#loading'),
            w = window,
            d = document,
            e = d.documentElement,
            g = d.getElementsByTagName('body')[0],
            x = w.innerWidth || e.clientWidth || g.clientWidth,
            y = w.innerHeight || e.clientHeight || g.clientHeight;

            loading.style.top = (y / 2) - (loading.clientHeight / 2) + 'px';
            loading.style.left = (x / 2) - (loading.clientWidth / 2) + 'px';

            $("#loading").hide();
        }

        $(document).ready(function () {
            //centraliza e esconde Gif Loading
            preparaGifLoading()

            $("#btnSelecionar").click(function () {
                if ($("#AlunoID").val() != "") {
                    requisitarDados(($("#AlunoID").val()));
                }
            });

            $("table tbody tr").click(function () {
                $("#AlunoID").val($(this).find(".AlunoID").text());
                $('#myModal').modal('hide');
            });

            $("#myModal #btnPesquisar").click(function () {
                $.ajax({
                    url: "http://localhost:39324/api/Aluno",
                    type: "GET",
                    data: { "param": $("#myModal #Pesquisa").val()},
                    success: function (data) {
                        $("table tbody").html("");
                        $.each(data, function (idx, item) {
                            var linha = $("<tr>");//cria linha
                            linha.append($("<td class=\"AlunoID\">").text(item.Id));
                            linha.append($("<td>").text(item.Rm));
                            linha.append($("<td>").text(item.Nome));

                            $("table tbody").append(linha);
                        });

                        //relinkar evento
                        $("table tbody tr").click(function () {
                            $("#AlunoID").val($(this).find(".AlunoID").text());
                            $('#myModal').modal('hide');
                        });

                    },
                    error: function (error) {
                        alert("Erro!");
                    }
                });
            });
        });
    </script>
}
