
@{
    ViewBag.Title = "Negado";
}


<div class="container">
    <div class="row" style="margin-bottom: 150px;">
        <div style="margin-top: 150px;">
            <img class="img-responsive center-block" src="~/Content/images/Acesso_negado.png" />
        </div>
    </div>
    @Html.ActionLink("Voltar", "Index", "Sessao")

</div>
