@helper Message(string msg)
{
    if (msg != null)
    {
            <div class="alert alert-success">
                @msg
            </div>
    }
}

@helper InputSubmit(string value, string classe)
{ 
    <input type="button" value="@value" id="@value" class="@classe" />    
}