<div class="container2">
    <div id="activeBorder" class="active-border">
        <div id="circle" class="circle">
            <span class="prec">0.0</span>
            <span id="startDeg" class="0"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="digital">
            <li id="horas">00</li>
            <li>:</li>
            <li id="minutos">00</li>
            <li>:</li>
            <li id="segundos">00</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button id="start" onclick="start()" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button>
        <button id="stop" onclick="stop()" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
        <button id="pause" onclick="pause()" class="btn"><span class="glyphicon glyphicon-pause"></span></button>
    </div>
</div>