 <!-- relogio -->
<div class="relogio">
    <div id="ponteiroSegundo"></div>
    <div id="ponteiroMinuto"></div>
    <div id="ponteiroHora"></div>
    <div id="centro"></div>
</div>


<ul class="digital">
    <li id="horas">00</li>
    <li id="minutos">00</li>
    <li id="segundos">00</li>
</ul>

<div class="hub">
    <button id="start" onclick="start()" class="btn btn-success"><img src="icons/play.png" /></button>
    <button id="stop" onclick="stop()" class="btn btn-danger"><img src="icons/stop.png" /></button>
    <button id="pause" onclick="pause()" class="btn"><img src="icons/pause.png" /></button>
</div>